[submodule "components/delphos"]
	path = components/delphos
	url = https://github.com/gnova3/Delphos.git
[submodule "components/delphos-single-task"]
	path = components/delphos-single-task
	url = https://github.com/gnova3/delphos-single-task.git
[submodule "components/delphos-training"]
	path = components/delphos-training
	url = https://github.com/gnova3/Delphos-training.git
[submodule "components/transport-choice-datasets"]
	path = components/transport-choice-datasets
	url = https://github.com/TUD-CityAI-Lab/transport-choice-datasets.git
